<% provide(:title, '') %>

<div class="row">
  <% if logged_in? %>
    <%= render 'shared/sidebar', user: current_user %>
    <div class="col-md-8">
      <h3>【フィード】</h3>
      <%= render 'shared/feed', feed_items: @feed_items  %>
    </div>
  <% else %>
    <%= render 'before_login' %>
  <% end %>
</div>

<!-- Rendered by vue JS -->
<div id='app'>
  <router-view/>
</div>
<%= javascript_pack_tag 'application' %>
<%= stylesheet_pack_tag 'application' %>
