<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'shared/user_info' %>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.music_posts.present? %>
      <h3>投稿数： (<%= @user.music_posts.count %>)</h3>
      <ol class="music_posts">
        <%= render @music_posts %>
      </ol>
      <%= will_paginate @music_posts %>
    <% end %>
  </div>
</div>
