<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'shared/sidebar', user: @user %>
  <div class="col-md-8">
    <%= render('users/follow_form', user: @user) unless current_user?(@user) %>
    <% if @user.music_posts.present? %>
      <% if controller.action_name == 'show'  %>
        <h3>【投稿数：<%= @user.music_posts.count %>件】</h3>
      <% elsif controller.action_name == 'show_like' %>
        <h3>【お気に入り件数：<%= @user.music_likes.count %>件】</h3>
      <% end %>
      <ol class="microposts">
        <%= render @music_posts %>
      </ol>
      <%= will_paginate @music_posts %>
    <% end %>
  </div>
</div>
