<div class="stats">
  <%= link_to following_user_path(user) do %>
    <strong id="following" class="stat">
      <%= user.following.count %>人
    </strong>
    フォロー人数
  <% end %>
  <%= link_to followers_user_path(user) do %>
    <strong id="followers" class="stat">
      <%= user.followers.count %>人
    </strong>
    フォロワー
  <% end %>
  <%= link_to show_like_music_post_path(user) do %>
    <strong id="like-<%= user.id %>" class="stat">
      <%= user.music_likes.count %>件
    </strong>
    お気に入り
  <% end %>
</div>
