<div class="stats">
  <a href="<%= following_user_path user %>">
    <strong id="following" class="stat">
      <%= user.following.count %>人
    </strong>
    フォロー人数
  </a>
  <a href="<%= followers_user_path user %>">
    <strong id="followers" class="stat">
      <%= user.followers.count %>人
    </strong>
    フォロワー
  </a>
  <a href="#">
    <strong id="like-<%= user.id %>" class="stat">
      <%= user.music_likes.count %>件
    </strong>
    お気に入り
  </a>
</div>
