<li id="music_post-<%= music_post.id %>">
  <%= link_to gravatar_for(music_post.user, size: 80), music_post.user %>
  <span class="user"><%= link_to music_post.user.name, music_post.user %><br/ ></span>
  <span class="timestamp">
    投稿日時：<%= time_ago_in_words(music_post.created_at) %> ago. <br/ >
    動画タイトル：<%= link_to music_post.title, music_post_path(music_post) %>
  </span>
  <% if current_user?(music_post.user) %>
    ＜<%= link_to '動画を削除', music_post, method: :delete, data: { confirm: '本当に削除しますか？' } %>＞
  <% else %>
    <いいね！：
      <span id="like_form">
        <% if current_user.liking?(music_post) %>
          <%= render partial: 'music_posts/unlike', locals: { music_post: music_post } %>
        <% else %>
          <%= render partial: 'music_posts/like', locals: { music_post: music_post } %>
        <% end %>
      </span>
    >
  <% end %>
  <span class="music_post"><%= music_post.iframe.html_safe %></span>
</li>
