<% provide(:title, "投稿動画一覧") %>

<div class="row">
  <%= render 'shared/sidebar', user: current_user %>
  <div class="col-md-8">
    <%= search_form_for @q do |f| %>
      <div class='form-group row'>
        <div class="col-md-9">
          <%= f.search_field :title_cont, class: 'form-control', placeholder: 'タイトル名' %>
        </div>
        <div class='form-group col-md-3'>
          <%= f.submit '検索', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <div class="search_result">
      <% if params[:q].blank? %>
        <h3>【表示件数「<%= @feed_items.count %>件」】</h3>
      <% else %>
        <h3>【検索結果「<%= @feed_items.count %>件」】</h3>
      <% end %>
      <br>
    </div>
    <div>
      <%= render 'shared/feed', feed_items: @feed_items %>
    </div>
  </div>
</div>
